* {
    box-sizing: border-box;
}

*:before,
*:after {
    box-sizing: border-box;
}

header {
    background-image: url("../images/background.jpg")!important;
    background-position: center center;
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;

}

header h1 {
    margin-top: -20px;
    color: white;
    font-size: 4rem;
}

li {
    display: inline;
    padding: 5px;
}

h1 {
    font-family: 'Lato', sans-serif;
}

a {
    text-decoration: none;
    color: #667dd9;
}

a:hover { 
    color : #536591;
}

hr {
    background-color: #536591;
    margin-top: 0px;
}

input[type=text], input[type=password] {
    width: 70%;
    padding: 7px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}

label {
    width: 30%;
}

.top-container {
    background: #ccc;
    padding:5px;
    border-bottom:2px solid #0f0f0f;
}

.container-term {
    width:80%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.content {
    min-height: calc(100vh - 144px);
}

footer {
    background-color: #333;
    color: white;
    padding-bottom: 10px;
    padding-top: 20px;
    margin-top: 50px;
    position: sticky;
}

.btn-submit {
    background-color: cornflowerblue;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}
.btn-submit:hover {
    opacity: 1;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    background-color: #536591;
}