<!DOCTYPE html>
<html>

{% include "includes/head.html" %}

<body>

<div class="content">

    <header class="text-center jumbotron jumbotron-fluid container-fluid full-width align-middler">
        <h1>Welcome to Brennan's Flask School!</h1>
    </header>

    <div class="container">
        
        {% include "includes/nav.html" %}

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}

                    <div class="alert alert-{{category}}">
                        <p>{{ message }}</p>
                    </div>

                {% endfor %}
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock %}

    </div>
    
</div>

    {% include "includes/footer.html" %}

</body>
</html>