{% extends "layout.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <h1>List of Enrolled Students</h1>

            {% for user in users %}
            <dl>
                <dt>User ID: {{user.user_id}}</dt>
                <dt>First Name: {{user.first_name}}</dt>
                <dt>Last Name: {{user.last_name}}</dt>
                <dt>E-mail: {{user.email}}</dt>
            </dl>
            {% else %}

            <h3>No registered students available for view.</h3>
            {% endfor %}

        </div>
    </div>
{% endblock %}