body {
    margin: 0 auto;
    width: 80%;
    color: #333;
}

h1 {
    text-align: center;
}

p, button {
    margin-left: 35px;
    display: inline-block;
}

.section {
    margin: 10px;
    padding: 10px;
    border-style: solid;
    border-radius: 1px;
}

#title {
    background-color: #333;
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 20px;
}

#ad {
    margin: 0 auto; 
    width: 728px; 
    height: 90px; 
    background: #333; 
    color: #fff; 
    line-height: 90px; 
    text-align: center; 
}

/* NAVIGATION */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}